.main-content {
  margin: 4rem 2.5rem;
}

.error_msg_wrap {
	background: red;
	padding: 15px;
	h2 {
		color: #fff;
	}
}

.success_msg_wrap {
	background: green;
	padding: 15px;
	h2 {
		color: #fff;
	}
}