.recipe_details_wrapper {
	.loader_wrap {
		display: flex;
		justify-content: center;
	}

	.recipe_header {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.recipe_image {
			flex: 1;
			width: 60%;
		}

		.recipe_ingredients_wrap {
			flex: 0 0 28%;
			background-color: #fff;
			padding: 20px;
		}
	}

	.recipe_content {
		.recipe_creator {
			font-size: 16px;
			color: gray;

			.recipe_cretor_name {
				cursor: pointer;
			}
		}
	}
}

@media(max-width: 500px) {
	.recipe_details_wrapper {
		.recipe_image {
			width: 100%;
		}

		.recipe_content {
			h1 {
				font-size: 22px;
			}
		}

		.recipe_ingredients_wrap,
		.recipe_nutritions_wrap {
			h2 {
				font-size: 20px;
			}

			h3 {
				font-size: 18px;
			}
		}
	}
}