.user_page_wrap {
	.recipe_item_list {
		cursor: pointer;
	}
	.user {
		display: flex;
		flex-wrap: wrap;
		.user_thumbnail {
			flex: 1;
			img {
				width: 60%;
				margin: 0 auto;
				padding: 30px;
			}
		}
		.user_details {
			flex: 5;
			.user_recipes_tab_header {
				padding: 0;
			}
		}
	}
}

.recipes {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media(max-width: 500px) {
	.user_page_wrap {
		.user {
			display: inline-block;
			.user_thumbnail {
				text-align: center;
				img {
					padding: 0;
				}
			}
			.user_details {
				h1 {
					text-align: center;
				}
			}
		}
	}
}